@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root,
   .light {
      --background: 250 250 250;
      --foreground: 9 9 11;

      --accent: theme("colors.zinc.100");
      --muted: theme("colors.zinc.200");
      --300: theme("colors.zinc.300");
      --400: theme("colors.zinc.400");
      --500: theme("colors.zinc.500");
      --700: theme("colors.zinc.700");
      --800: theme("colors.zinc.800");
      --900: theme("colors.zinc.900");
      --950: theme("colors.zinc.950");

      --border: theme("colors.zinc.400");
      /* --primary: #e11d48; */
      --primary: 7 182 130;
      --primaryActive: 15 206 145;
      --primary: 0 64 197;
      --primaryActive: 8 88 212;
   }
   .dark {
      --background: 9 9 11;
      --foreground: 250 250 250;

      --accent: theme("colors.zinc.900");
      --muted: theme("colors.zinc.800");
      --300: theme("colors.zinc.700");
      --400: theme("colors.zinc.500");
      --500: theme("colors.zinc.400");
      --700: theme("colors.zinc.300");
      --800: theme("colors.zinc.200");
      --900: theme("colors.zinc.100");
      --950: theme("colors.zinc.50");

      --border: theme("colors.zinc.500");
      --primary: 219 39 119;
      --primaryActive: 239 59 139;
   }
}

@layer base {
   /* * {} */
   body {
      @apply bg-background text-foreground;
   }
   .modern-scroll {
      --scrollbar-background: #4a5568 #2d3748 scrollbar-width: 8px;
      /* scrollbar-color: red blue; */
   }

   .modern-scroll::-webkit-scrollbar {
      width: 6px;
      height: 6px;
   }

   .modern-scroll::-webkit-scrollbar-track {
      background: #e4e4e7;
   }
   .dark .modern-scroll::-webkit-scrollbar-track {
      background: #27272a;
   }
   .modern-scroll::-webkit-scrollbar-corner {
      background: #e4e4e7;
   }
   .dark .modern-scroll::-webkit-scrollbar-corner {
      background: var(--primary);
   }

   .modern-scroll::-webkit-scrollbar-thumb {
      background: #52525b;
      /* border-radius: 6px; */
      animation-duration: 0.15s;
   }

   .modern-scroll::-webkit-scrollbar-thumb:hover {
      background: #3f3f46;
   }
   .dark .modern-scroll::-webkit-scrollbar-thumb {
      background: #a1a1aa;
   }
   .dark .modern-scroll::-webkit-scrollbar-thumb:hover {
      background: #f4f4f5;
   }

   .rounded-scroll::-webkit-scrollbar,
   .rounded-scroll::-webkit-scrollbar-track,
   .rounded-scroll::-webkit-scrollbar-thumb {
      border-radius: 8px;
   }
}

@keyframes content-in {
   from {
      opacity: 0;
      transform: translateY(10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.animate-content-in {
   animation: content-in 600ms ease both;
   animation-delay: calc(120ms * var(--stagger, 0));
}
